/********************** general color options **********************/
* {
    margin: 0px;
    padding: 0px;
}

html{
    background-color: rgb(253, 177, 222);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(201, 31, 31);
}
a:link {
    color: rgb(201, 31, 31);
}
a:hover {
    color: rgba(255, 255, 0, 0.626);
}
a:active {
    color: rgba(0, 0, 0, 0.931);
}


/********************** general size options **********************/

h1 {
    font-size: 38px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}
.fs-22 {
    font-size: 22px;
}
.fs-26 {
    font-size: 26px;
}
.fs-30 {
    font-size: 30px;
}


/********************** page section - start **********************/
#page {
    min-height: 800px;
}
#page h1 {
    text-align: center;
}

#page p {
    text-indent: 40px;
    width: 800px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/********************** page section - end **********************/

/********************** main menu section - start **********************/
#mainmenu {
    text-align: center;
    font-size: 22px;
}

/********************** main menu section - end **********************/


/********************** index section - start **********************/
#index {
    width: 810px;
    margin: auto;
    min-height: 600px;
}
#index ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: center;

}
.maintext {
    position: relative;
    top: 20px;
}
.cities {
    position: relative;
    top: 50px;
}

/********************** index section - end **********************/


/********************** side menu section - start **********************/
/********************** side menu section - end **********************/


/********************** bottom section - start **********************/
#bottom {
    position: relative;
    bottom: 20px;
}
.previous {
    width: 170px;
    position: absolute;
    left: 80px;
    bottom: 2px;
}
.next {
    width: 170px;
    position: absolute;
    right: 80px;
    bottom: 2px;
}
/********************** bottom section - end **********************/